@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --es-font-serif: "Lora";

    --es-black: 0 0% 1%;
    --es-gray-darkest: 0 11% 9%;
    --es-gray-darker: 0 0% 13%;
    --es-gray-dark: 217 3% 47%;
    --es-gray: 0 0% 40%;
    --es-gray-light: 217 15% 69%;
    --es-gray-lighter: 0 0% 89%;
    --es-gray-lightest: 180 4% 95%;
    --es-white: 0 0% 100%;

    --es-red: 6 78% 57%;

    /* Theme */
    --es-background: var(--es-white);
    --es-foreground: var(--es-black);
    --es-border: var(--es-gray);

    --es-primary: var(--es-red);
    --es-primary-foreground: var(--es-white);

    --es-muted: var(--es-gray);
    --es-muted-foreground: var(--es-gray-dark);
  }

  @font-face {
    font-family: var(--es-font-serif);
    src: url("/fonts/lora-variable.ttf") format("ttf");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
  }

  .dark {
    --es-background: var(--es-black);
    --es-foreground: var(--es-white);
  }

  a {
    color: hsl(var(--es-primary) / var(--tw-text-opacity));
    text-decoration: none;
  }
}
