---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const about = await getEntry("misc", "about");

const { Content } = await about.render();
---

<BaseLayout>
  <main class="flex flex-col gap-6 pt-6" id="main-content">
    <!-- Picture -->
    <figure>
      <Image
        alt="Picture of me"
        class="mx-auto block h-40 w-40 rounded-full"
        height="160"
        src="/images/misc/me.jpg"
        width="160"
      />
    </figure>
    <article
      class="container prose prose-h1:relative prose-h1:overflow-hidden prose-h1:after:absolute prose-h1:after:top-1/2 prose-h1:after:ml-4 prose-h1:after:h-full prose-h1:after:w-full prose-h1:after:border-t prose-h1:after:border-border prose-h1:after:content-[''] prose-h2:relative prose-h2:overflow-hidden prose-h2:after:absolute prose-h2:after:top-1/2 prose-h2:after:ml-4 prose-h2:after:h-full prose-h2:after:w-full prose-h2:after:border-t prose-h2:after:border-border prose-h2:after:content-['']"
    >
      <Content />
    </article>
  </main>
</BaseLayout>
