---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { PERSONAL_LINKS } from "../consts";

const about = await getEntry("misc", "about");

const { Content } = await about.render();
---

<Layout>
  <main class="flex flex-col gap-6 pt-6" id="main-content">
    <!-- Picture -->
    <figure>
      <img
        alt="Picture of me"
        class="block mx-auto w-40 h-40 rounded-full"
        src="/images/misc/me.jpg"
      />
    </figure>
    <article class="prose container">
      <Content />
    </article>
    <!-- PDF CTA -->
    <section class="bg-card text-card-foreground">
      <section class="container flex flex-col gap-6 py-20 items-center">
        <h3>Looking for a PDF of printable version of my resumé?</h3>
        <a
          class="bg-primary text-primary-foreground px-8 py-3 rounded shadow"
          href={PERSONAL_LINKS.resume}
          target="_blank"
          rel="noopener noreferrer">Resumé</a
        >
      </section>
    </section>
  </main>
</Layout>
