---
import Tag from "../components/Tag.astro";
import TagList from "../components/TagList.astro";
import Layout from "../layouts/Layout.astro";
import { PERSONAL_LINKS } from "../consts";
---

<Layout>
  <main id="main-content">
    <!-- Picture -->
    <figure class="my-4">
      <img
        alt="Picture of me"
        class="block mx-auto w-40 h-40 rounded-full"
        src="/images/misc/me.jpg"
      />
    </figure>
    <article class="prose container">
      <!-- About me -->
      <section id="bio">
        <h1
          class="relative overflow-hidden after:content-[''] after:w-full after:h-full after:ml-4 after:absolute after:border-t after:border-border after:top-1/2"
        >
          About me
        </h1>
        <p>
          Hey! I&lsquo;m Erick Sauri a software engineer from Puerto Rico but
          currently based in New York City. I'm a graduate from Rochester
          Institute of Technology with a Bachelor's in New Media Interactive
          Development and a minor in Mobile App Development. I enjoy working on
          web and mobile applications as well as making games in my spare time.
          Feel free to email me at <a
            href={PERSONAL_LINKS.email}
            target="_blank">ericksaurisyl[at]gmail[dot]com</a
          >.
        </p>
      </section>
      <!-- Work -->
      <section id="work">
        <h2
          class="relative overflow-hidden after:content-[''] after:w-full after:h-full after:ml-4 after:absolute after:border-t after:border-border after:top-1/2"
        >
          Work
        </h2>
        <section>
          <!-- Batch -->
          <section>
            <h3>Batch</h3>
            <h4>Sr. Software Engineer</h4>
            <h5>New York, NY &middot; March 2022 - Present</h5>
            <TagList scrollable>
              <Tag>Full Stack</Tag>
              <Tag>Next.js</Tag>
              <Tag>React.js</Tag>
              <Tag>React Native</Tag>
              <Tag>Typescript</Tag>
              <Tag>Turborepo</Tag>
              <Tag>Serverless</Tag>
            </TagList>
            <ul>
              <li>
                Spearheaded effort to bring mobile app functionality to the web
                using latest <strong>React.js</strong> technologies such as <strong
                  >React Server Components</strong
                > and <strong>Server Actions</strong>
              </li>
              <li>
                Implemented complex checkout flows using <strong>XState</strong>
              </li>
              <li>
                Lead effort to migrate mobile app global state from legacy <strong
                  >Redux</strong
                > to the more modern <strong>Redux Toolking</strong>
                 and <strong>RTK Query</strong>
              </li>
              <li>
                Created new services to manage chat for parties using <strong
                  >Twilio</strong
                >
              </li>
              <li>
                Participated in A/B and multivariate testing, utilizing tools
                such as <strong>Growthbook</strong> and <strong>Mixpanel</strong
                >
              </li>
            </ul>
            <!-- Patch -->
            <section>
              <h3>Patch.com</h3>
              <h4>Front End Developer</h4>
              <h5>New York, NY &middot; March 2018 - March 2022</h5>
              <TagList scrollable>
                <Tag>Full Stack</Tag>
                <Tag>Next.js</Tag>
                <Tag>React.js</Tag>
                <Tag>Typescript</Tag>
                <Tag>Serverless</Tag>
                <Tag>Fastly</Tag>
                <Tag>Vue.js</Tag>
                <Tag>Drupal 7</Tag>
                <Tag>PHP</Tag>
                <Tag>jQuery</Tag>
                <Tag>SASS</Tag>
              </TagList>
              <ul>
                <li>
                  Lead rewrite of legacy <strong>Drupal 7</strong> site to new
                  site utilizing <strong>Next.js</strong>
                </li>
                <li>
                  Created various service for automating newsletter creation
                  using

                  <strong>Serverless Framework</strong> and <strong
                    >AWS Step Functions</strong
                  >
                </li>
                <li>
                  Optimized images using <strong
                    >Fastly Image Optimization</strong
                  >, implemented responsive images, and lazy loading for images
                  below the fold
                </li>
                <li>
                  Implemented a new, quicker content posting and replying
                  experience for users to share what's happening in their local
                  community
                </li>
                <li>
                  Created new features for legacy CMS using <strong>Vue</strong>
                   and used APIs such as <strong>Google Analytics</strong>, <strong
                    >DoubleClick</strong
                  >, and <strong>Stripe</strong>
                </li>
                <li>
                  Created email templates for various newsletter campaigns
                </li>
              </ul>
            </section>
            <!-- Poseidon -->
            <section>
              <h3>Poseidon Systems</h3>
              <h4>Software Engineer (Co-op)</h4>
              <h5>Rochester, NY &middot; May 2017 - Jan 2018</h5>
              <TagList scrollable>
                <Tag>Front-End</Tag>
                <Tag>SPA</Tag>
                <Tag>Angular 2</Tag>
                <Tag>Ionic Framework</Tag>
                <Tag>Firebase</Tag>
                <Tag>SASS</Tag>
              </TagList>
              <ul>
                <li>
                  Participated in rewrite for a PHP app to a single page app
                  powered by <strong>Ionic</strong>
                </li>
                <li>
                  Utilized libraries such as <strong>Highcharts</strong> for oil
                  monitoring data visualization
                </li>
                <li>
                  Performed back-end tasks using <strong>Firebase</strong> for
                  authentication, storage, cloud messaging, and database needs
                </li>
              </ul>
            </section>
            <!-- CACI -->
            <section>
              <h3>CACI</h3>
              <h4>Web Developer (Co-op)</h4>
              <h5>Rome, NY &middot; Summer 2016</h5>
              <TagList scrollable>
                <Tag>Full Stack</Tag>
                <Tag>Node.js</Tag>
                <Tag>PostgreSQL</Tag>
                <Tag>Mocha</Tag>
                <Tag>Selenium</Tag>
                <Tag>LESS</Tag>
              </TagList>
              <ul>
                <li>
                  Tasked with maintaining and implementing features for an admin
                  site
                </li>
                <li>
                  Utilized custom internal front-end and back-end frameworks
                  based on the MVC paradigm
                </li>
                <li>Tested functionality end-to-end</li>
              </ul>
            </section>
          </section>
        </section>
      </section>
      <!-- Education -->
      <section id="education">
        <h2
          class="relative overflow-hidden after:content-[''] after:w-full after:h-full after:ml-4 after:absolute after:border-t after:border-border after:top-1/2"
        >
          Education
        </h2>
        <h3>Rochester Institute of Technology</h3>
        <h4>Bachelor's of Science</h4>
        <h5>Rochester, NY (2013 - 2017)</h5>
        <TagList scrollable>
          <Tag>
            New Media Interactive Dev<span class="hidden md:inline"
              >elopment</span
            >
          </Tag>
          <Tag>Mobile App Development</Tag>
        </TagList>
      </section>
      <!-- Skills -->
      <section id="skills">
        <h2
          class="relative overflow-hidden after:content-[''] after:w-full after:h-full after:ml-4 after:absolute after:border-t after:border-border after:top-1/2"
        >
          Skills &amp; Tools
        </h2>
        <TagList scrollable={false}>
          <Tag>HTML</Tag>
          <Tag>CSS</Tag>
          <Tag>Javascript</Tag>
          <Tag>Node.js</Tag>
          <Tag>Serverless Framework</Tag>
          <Tag>Typescript</Tag>
          <Tag>Next.js</Tag>
          <Tag>React.js</Tag>
          <Tag>React Native</Tag>
          <Tag>React Query</Tag>
          <Tag>Redux</Tag>
          <Tag>SWR</Tag>
          <Tag>XState</Tag>
          <Tag>Zustand</Tag>
          <Tag>Zod</Tag>
          <Tag>Tailwind</Tag>
          <Tag>SASS</Tag>
          <Tag>LESS</Tag>
          <Tag>Express</Tag>
          <Tag>Vue</Tag>
          <Tag>Angular</Tag>
          <Tag>RxJS</Tag>
          <Tag>Ionic Framwork</Tag>
          <Tag>PHP</Tag>
          <Tag>Drupal</Tag>
          <Tag>Swift</Tag>
          <Tag>C#</Tag>
          <Tag>DynamoDB</Tag>
          <Tag>MySQL</Tag>
          <Tag>PostgreSQL</Tag>
          <Tag>Unity</Tag>
          <Tag>Figma</Tag>
          <Tag>Excalidraw</Tag>
          <Tag>Sketch</Tag>
          <Tag>Photoshop</Tag>
          <Tag>Illustrator</Tag>
          <Tag>Fastly</Tag>
          <Tag>Sailthru</Tag>
          <Tag>Growthbook</Tag>
          <Tag>Mixpanel</Tag>
        </TagList>
      </section>
    </article>
    <!-- PDF CTA -->
    <section class="bg-foreground text-background">
      <section class="container flex flex-col gap-6 py-20 items-center">
        <h3>Looking for a PDF of printable version of my resumé?</h3>
        <a
          class="bg-primary text-primary-foreground px-8 py-3 rounded shadow"
          href={PERSONAL_LINKS.resume}
          target="_blank"
          rel="noopener noreferrer">Resumé</a
        >
      </section>
    </section>
  </main>
</Layout>
