---
import { getEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { PERSONAL_LINKS } from "../consts";

const about = await getEntry("misc", "about");

const { Content } = await about.render();
---

<BaseLayout>
  <main class="flex flex-col gap-6 pt-6" id="main-content">
    <!-- Picture -->
    <figure>
      <img
        alt="Picture of me"
        class="block mx-auto w-40 h-40 rounded-full"
        src="/images/misc/me.jpg"
      />
    </figure>
    <article
      class="container prose prose-h1:relative prose-h1:overflow-hidden prose-h1:after:content-[''] prose-h1:after:w-full prose-h1:after:h-full prose-h1:after:ml-4 prose-h1:after:absolute prose-h1:after:border-t prose-h1:after:border-border prose-h1:after:top-1/2 prose-h2:relative prose-h2:overflow-hidden prose-h2:after:content-[''] prose-h2:after:w-full prose-h2:after:h-full prose-h2:after:ml-4 prose-h2:after:absolute prose-h2:after:border-t prose-h2:after:border-border prose-h2:after:top-1/2"
    >
      <Content />
    </article>
    <!-- PDF CTA -->
    <section class="bg-card text-card-foreground">
      <section class="container flex flex-col gap-6 py-20 items-center">
        <h3>Looking for a PDF of printable version of my resumé?</h3>
        <a
          class="bg-primary text-primary-foreground px-8 py-3 rounded shadow"
          href={PERSONAL_LINKS.resume}
          target="_blank"
          rel="noopener noreferrer">Resumé</a
        >
      </section>
    </section>
  </main>
</BaseLayout>
