---
import { AUTHOR_NAME, PERSONAL_LINKS } from "../consts";
import NavLink from "./NavLink.astro";
---

<header>
  <nav class="container flex flex-row justify-between items-center py-4">
    <a href="/">
      <img
        alt={`${AUTHOR_NAME} Logo`}
        class="h-8 w-8"
        src="/images/icons/logo.svg"
      />
    </a>
    <!-- Desktop Navigation -->
    <ul class="hidden md:flex flex-row gap-8">
      <li>
        <NavLink href="/about">About</NavLink>
      </li>
      <li>
        <NavLink href="/projects">Projects</NavLink>
      </li>
      <li>
        <NavLink
          href={PERSONAL_LINKS.github}
          rel="noopener noreferrer"
          target="_blank"
        >
          Github
        </NavLink>
      </li>
      <li>
        <NavLink
          href={PERSONAL_LINKS.resume}
          rel="noopener noreferrer"
          target="_blank"
        >
          Resumé
        </NavLink>
      </li>
    </ul>
  </nav>
</header>
