---
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"main">, "id">;

const { class: className, ...props } = Astro.props;
---

<main id="main-content" class:list={["container", className]} {...props}>
  <slot />
</main>
