---
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"a">, "class">;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  aria-current={isActive ? "page" : undefined}
  class:list={[
    "text-foreground after:block after:content-[''] after:border-b-2 after:border-foreground after:transition-transform after:duration-200 hover:after:border-primary hover:text-primary",
    {
      "after:scale-x-0 hover:after:scale-100": !isActive,
    },
  ]}
  href={href}
  {...props}
>
  <slot />
</a>
