---
type Props = {
  className?: string;
  href: string;
  title: string;
};

const { className, href, title }: Props = Astro.props;
---

<a
  class:list={["block group/card relative h-96 overflow-hidden", className]}
  href={href}
  title={title}
>
  <slot />
</a>
